<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.om_tat_sat.grade_ace"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradeACE"
        tools:targetApi="31">
        <activity
            android:name=".newUiActivity.SignInWithGoogle"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.ChangeLanguage"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.InsightsGraph"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.PdfViewNewUi"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.MainHomeScreen"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.EmailVerificationPage"
            android:exported="false" />
        <activity
            android:name=".newUiActivity.FirstLoadingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web_policy_view"
            android:exported="false" />
        <activity
            android:name=".TopperTips"
            android:exported="false" />
        <activity
            android:name=".Btech_Agriculture_Bsc_Horticulture_OGPA_Calculator"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BSC_AGRICULTURE_OGPA_Calculator"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>